<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <%= render "layouts/nav_pill" unless @disable_nav_pill%>
    </div>

    <%= render "layouts/errors" if flash[:errors] %>
    <%= render "layouts/notifications" if flash[:notifications] %>

    <%= yield %>



  </body>
</html>
